@keyframes colors {
	0% {
		color: var(--color-link-hover);
		scale: 1;
	}
	100% {
		color: var(--color-link);
		scale: 1.2;
	}
}
@keyframes color {
	0% {
		color: var(--color-link);
		scale: 1;
	}
	100% {
		color: var(--color-link-hover);
		scale: 1.2;
	}
}
