.button-down {
    position: relative;
    padding: 5px;
    background: var(--color-black);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.8s linear;
}
.button-down:hover {
    transform: translate3d(0, 10px, 0);
}
.button-up::after,
.button-down::after {
    content: "";
    position: absolute;
    left: 1rem;
    z-index: 11;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-top: 2px solid var(--color-white);
    border-left: 2px solid var(--color-white);
}

.button-up::after {
    top: 2rem;
    transform: rotate(45deg);
}

.button-down::after {
    top: 0.8rem;
    transform: rotate(225deg);
}